.container
{
    border:2px solid black;

}

.container1
{
    background-image: url(rose.jpeg);
    height:200px;
    width: 200px;
    object-fit: cover;
    margin:50px;
   justify-content: center;
   text-align: center;
 
}