*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    background-color: orange;
    border:3px solid black;
    gap:3px;
    display: grid;
    height: 500px;
    grid-template-columns: 150px 1fr 1fr 150px;
    grid-template-rows: 30px 1fr 30px;
}

.box
{
    background-color: green;
    border:3px solid black;  
}

#box1, #box4
{
    grid-column-start: 1;
    grid-column-end: 5;
}

#box3
{
    grid-column-start: 2;
    grid-column-end:4 ;
}

